main {
  margin: .5rem auto;
  max-width: 100vw;
  width:30ch;
  font-size: 35px;
}

/* ul {
  margin: 0.5rem auto;
  font-size: 1.75rem;
} */

/* ul li {
  margin: 0.5rem 0;
  font-size: 35px;
} */

#shopping-form {
  display:inline-block;
  align-items: center;
}

input {
  width: 10ch;
  height: 7ch;
  margin: 10px;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#addBtn {
  background-color: rgb(44, 225, 189);
  width: 200px;
  height: 50px;
  font-weight: bold;
}

#clearBtn {
  background-color: brown;
  width: 200px;
  height: 50px;
  font-weight: bold;
}